body {
    font-family: sans-serif;
    margin: 0 50px;
}
.container {
    display: flex;
    gap: 50px;
}
#posts {
    width: 400px;
    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.otptions {
    display: flex;
    gap: 25px;
}
#msg {
    color: red;
}
i {
    cursor: pointer;
}
